.related-items {
  margin: 50px 0;
}

.related-items .movie-card-title {
  color: #fff;
}

.related-movie-swiper-arrows button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: all 1s;
  position: absolute;
  top: 35%;
  z-index: 999;
}

.related-movie-swiper-arrows button:hover {
  background-color: #e7e9ea;
}

.related-movie-item-next-btn {
  right: 0px;
}
