@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: #e5e5e5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: all 1s ease;
}
